<!DOCTYPE html>
<html>
  <head>
    <title>{{title.name}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/all.min.css' />
    <link rel='stylesheet' href='/stylesheets/neumorphism.css' />
  </head>
  <body>
    {{{body}}}
  </body>
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/headroom.min.js"></script>
  <script src="/javascripts/on-screen.umd.min.js"></script>
  <script src="/javascripts/nouislider.min.js"></script>
  <script src="/javascripts/bootstrap-datepicker.min.js"></script>
  <script src="/javascripts/jquery.waypoints.min.js"></script>
  <script src="/javascripts/jarallax.min.js"></script>
  <script src="/javascripts/jquery.counterup.min.js"></script>
  <script src="/javascripts/jquery.countdown.min.js"></script>
  <script src="/javascripts/smooth-scroll.polyfills.min.js"></script>
  <script src="/javascripts/prism.js"></script>
  <script async defer="defer" src="https://buttons.github.io/buttons.js"></script>
  <script src="/javascripts/neumorphism.js"></script>
  <script src="http://localhost:3000/public/client.js"></script>
</html>
